.text {
	margin-bottom: 10px !important;
}

.replyBtn {
	font-size: 15px;
	cursor: pointer;
	margin-right: 5px;
	color: #595959;

	&:hover {
		color: #346eb8;
	}
}
.buttonSvg {
	padding: 1px !important;
}

.profile_comment_favorite__title {
	font-size: 15px;
	line-height: 22px;
	padding-right: 0;
	font-weight: 700;
	color: #000 !important;
	text-decoration: none !important;
	&:hover {
		color: #3766a9 !important;
	}
}

.profile_comment_favorite__header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}

.profile_comment_favorite__user__image {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	margin-right: 4px;
	top: 3px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.profile_comment_favorite__user__name {
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	font-weight: 500;
	color: #000 !important;
	text-decoration: none !important;
	&:hover {
		color: #3766a9 !important;
	}
}

.profile_comment_favorite__date {
	display: inline-block;
	margin-left: 13px;
	color: #595959;
	text-transform: lowercase;
	font-size: 12px;
}
