.menu {
	width: 200px;
	position: sticky;
	top: 80px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin-bottom: 4px;

			button {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				padding: 10px;
				text-transform: inherit;
				font-size: 16px;
				font-weight: 400;
				box-shadow: none;
				padding: 6px 9px;

				span[class*='MuiButton-label'] {
					display: flex;
					align-items: center;
				}

				svg {
					margin-right: 10px;
				}
			}
		}
	}
}

.activeSvg {
	color: #1693e5;
	display: flex;
}

.inactiveSvg {
	color: #595959;
	display: flex;
}
